@model Weatherman.Models.OpenWeatherMapApiModel.WeatherResponseForecast

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>


<div class="container center-block" style="width:50%">
    <table class="table table-bordered">
        <tbody class="">
            @foreach (var item in Model.List)

            {


                <tr>
                    <td style="width:10%">
                        <span class="badge">@item.Dt_txt.ToShortDateString() <br /> @item.Dt_txt.ToShortTimeString()  </span>
                        <img src="//openweathermap.org/img/wn/@item.Weather[0].Icon" alt="forecast" width="50" height="50" />
                        <div>
                            @item.Sys.Country
                        </div>
                    </td>
                    <td style="width:50%">
                        <p>
                            <span class="badge alert-danger"> @item.Main.Temp_Max °C</span>
                            <span class="badge"> @item.Main.Temp_Min °C</span>
                            <i>@item.Weather[0].Description</i>
                        </p>
                        <p>
                            @item.Wind.Speed m/s
                            <br />
                            влажность: @item.Main.Humidity % ,
                            Давление: @item.Main.Pressure hpa
                        </p>

                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>



<div class="container">

    <div class="form-group col-md-offset-3 col-md-5">

        <form method="get">
            <button asp-controller="WeathermanApp" asp-action="SearchCity" class="btn btn-success">Назад</button>
        </form>

    </div>

</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

